div h3 {
    background-color: aqua;
}

/* div{
    background-color: yellow;
}
div:hover{
    background-color: orange;
}
div:active{
    background-color: blue;
}
div:focus{
    background-color: black;
} */